@using System.Globalization
@using Microsoft.Extensions.Configuration;
@using TekeriumCommerce.Module.Core.Extensions;

@inject IWorkContext WorkContext;
@inject IConfiguration Config

@{
    Layout = null;
}

<!doctype html>
<html ng-app="tekerAdmin">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .bloc {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            border: solid grey 1px;
        }

            .bloc select {
                padding: 10px;
                margin: -5px -20px -5px -5px;
            }
    </style>
    @* css going to here *@
    <link teker-append-version="true" rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link simpl-append-version="true" rel="stylesheet" href="~/lib/angular-material/angular-material.css" />
    <link teker-append-version="true" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link teker-append-version="true" rel="stylesheet" href="~/lib/toastr/build/toastr.min.css" />
    <link teker-append-version="true" rel="stylesheet" href="~/lib/angular-bootstrap/ui-bootstrap-csp.css" />
    <link teker-append-version="true" rel="stylesheet" href="~/lib/summernote/summernote.css" />

    <link teker-append-version="true" rel="stylesheet" href="~/modules/catalog/admin/tyre/tyre-form.css" />

    <script>
        window.Global_AssetVersion = "@Config["Global.AssetVersion"]";
    </script>

    <script teker-append-version="true" src="~/lib/jquery/jquery.js"></script>
    <script teker-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script teker-append-version="true" src="~/lib/summernote/summernote.js"></script>


    <script teker-append-version="true" src="~/lib/angular/angular.js"></script>
    <script teker-append-version="true" src="~/lib/angular-ui-router/angular-ui-router.js"></script>
    <script teker-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script teker-append-version="true" src="~/lib/angular-aria/angular-aria.js"></script>
    <script teker-append-version="true" src="~/lib/angular-material/angular-material.js"></script>
    <script teker-append-version="true" src="~/lib/angular-ui-router/angular-ui-router.js"></script>
    <script teker-append-version="true" src="~/lib/angular-smart-table/dist/smart-table.js"></script>
    <script teker-append-version="true" src="~/lib/angular-summernote/angular-summernote.js"></script>
    <script teker-append-version="true" src="~/lib/ng-file-upload/dist/ng-file-upload.js"></script>
    <script teker-append-version="true" src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script teker-append-version="true" src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script teker-append-version="true" src="~/lib/bootstrap-ui-datetime-picker/datetime-picker.js"></script>
    <script teker-append-version="true" src="~/lib/bootstrap-ui-datetime-picker/datetime-picker.tpls.js"></script>
    <script teker-append-version="true" src="~/lib/bootbox/bootbox.js"></script>
    <script teker-append-version="true" src="~/lib/toastr/build/toastr.min.js"></script>

    <script teker-append-version="true" src="~/modules/core/admin/common/slugify.js"></script>
    <script teker-append-version="true" src="~/modules/core/admin/admin-app.js"></script>
    <script teker-append-version="true" src="~/modules/core/admin/common/common.js"></script>
    <script teker-append-version="true" src="~/modules/core/admin/common/summernote-service.js"></script>
    <script teker-append-version="true" src="~/modules/core/admin/common/st-date-range.js"></script>

    <script teker-append-version="true" src="~/modules/core/admin/dashboard/dashboard.module.js"></script>
    <script teker-append-version="true" src="~/modules/core/admin/core.module.js"></script>
    <script teker-append-version="true" src="~/modules/core/admin/user/user-service.js"></script>
    <script teker-append-version="true" src="~/modules/core/admin/user/user-list.js"></script>
    <script teker-append-version="true" src="~/modules/core/admin/user/user-form.js"></script>

    @*Catalog*@
    <script teker-append-version="true" src="~/modules/catalog/admin/catalog.module.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/brand/brand-service.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/brand/brand-list.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/brand/brand-form.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/tyre/tyre-service.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/tyre/tyre-list.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/tyre/tyre-form.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/category/category-list.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/category/category-form.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/category/category-service.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/product/product-list.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/product/product-service.js"></script>
    <script teker-append-version="true" src="~/modules/catalog/admin/product/product-form.js"></script>

    @*Shipping*@
    <script teker-append-version="true" src="~/modules/shipping/admin/shipping.module.js"></script>
    <script teker-append-version="true" src="~/modules/shipping/admin/city/city-list.js"></script>
    <script teker-append-version="true" src="~/modules/shipping/admin/city/city-form.js"></script>
    <script teker-append-version="true" src="~/modules/shipping/admin/city/city-service.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Admin" class="navbar-brand">TekeriumCommerce Admin</a>
            </div>
        </div>
    </div>
    <ol>
        <li><a ui-sref="users">Users</a></li>
        <li><a ui-sref="brand">Brands</a></li>
        <li><a ui-sref="tyre">Tyre</a></li>
        <li><a ui-sref="category">Category</a></li>
        <li><a ui-sref="product">Product</a></li>
        <li><a ui-sref="city">City</a></li>
    </ol>
    <ui-view></ui-view>
</body>
</html>