@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");

.container-search {
    background: #FFFFFF;
    width: 540px;
    height: 420px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.container-search .logo {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    font-family: "Nunito Sans", sans-serif;
    color: #3DBB3D;
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.container-search .leftbox {
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: #7ED386;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

.container-search .leftbox nav a {
    list-style: none;
    padding: 35px;
    color: #FFFFFF;
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
}

.container-search .leftbox nav a:hover {
    color: #3FB6A8;
    transform: scale(1.2);
    cursor: pointer;
}

.container-search .leftbox nav a:first-child {
    margin-top: 7px;
}

.container-search .leftbox nav active {
    color: #3FB6A8;
}

.container-search .rightbox {
    float: right;
    width: 60%;
    height: 100%;
}

.container-search .rightbox .car-category {
    transition: opacity .5s ease-in;
    position: absolute;
    width: 70%;
}

.container-search .rightbox h1 {
    font-family: "Montserrat", sans-serif;
    color: #7ED386;
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 35px;
}

.container-search .rightbox h2 {
    color: #777777;
    font-family: "Roboto", sans-serif;
    width: 80%;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    margin-left: 2px;
}

.container-search .rightbox .btn-con {
    margin-top: 10px;
}

.container-search .rightbox .btn {
    /*float: right;*/
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    color: #3FB6A8;
}

.container-search .rightbox .btn:hover {
    text-decoration: underline;
    font-weight: 900;
}

/* SELECTION */

.sel {
    font-size: 0.7rem;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    /*margin: 3em 2em;*/
    width: 200px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

    .sel::before {
        position: absolute;
        content: '\f063';
        font-family: 'FontAwesome';
        font-size: 2em;
        color: #FFF;
        right: 20px;
        top: calc(50% - 0.5em);
    }

    .sel.active::before {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }

.sel__placeholder {
    display: block;
    /*font-family: 'Quicksand';*/
    font-size: 2.3em;
    color: #838e95;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;   _
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    -webkit-animation: fadeInUp 500ms;
    animation: fadeInUp 500ms;
}

.sel__box__options {
    display: list-item;
    /*font-family: 'Quicksand';*/
    font-size: 1.5em;
    color: #838e95;
    padding: 0.5em 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .sel__box__options::after {
        content: '\f00c';
        font-family: 'FontAwesome';
        font-size: 0.5em;
        margin-left: 5px;
        display: none;
    }

    .sel__box__options.selected::after {
        display: inline;
    }

    .sel__box__options:hover {
        background-color: #ebedef;
    }

/* ----- Select Box Black Panther ----- */
.sel {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
    z-index: 15;
}

/* ----- Select Box Superman ----- */
.sel--super-man {
    /*   display: none; */
    z-index: 10;
}

.sel--man {
    z-index: 5;
}

/* ===== Keyframes ===== */
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}