@{
    ViewData["Title"] = "Home Page";
}

@section head {
    
}

<section class="finder">
    @await Component.InvokeAsync("SearchForm")
</section>



@section scripts {
    @*todo: later add teker-append tag helper*@
    <script type="text/javascript" src="~/modules/search/main-search.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap4/js/bootstrap.min.js"></script>
}