@{
    ViewData["Title"] = "Shopping Cart";
}

<div ng-app="teker.shoppingCart" ng-controller="shoppingCartCtrl as vm" ng-cloak>
    <table>
        <thead>
        <tr>
            <th colspan="2">Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="vm.cart.items.length" ng-repeat="cartItem in vm.cart.items">
            <td class=""><img src="{{cartItem.productImage}}" /></td>
            <td>
                <h4>{{cartItem.productName}}</h4>
            </td>
            <td>
                {{cartItem.productPriceString}}
            </td>
            <td class="text-center">
                <button type="button" class="quantity-button" ng-click="vm.decreaseQuantity(cartItem)" name="subtract" value="-">-</button>
                <input type="text" class="quantity-field" ng-model="cartItem.quantity" readonly="readonly" />
                <button type="button" class="quantity-button" ng-click="vm.increaseQuantity(cartItem)" name="subtract" value="+">+</button>
            </td>
            <td class="text-right"><button class="btn btn-link" ng-click="vm.removeShoppingCartItem(cartItem)"><span class="fa fa-remove" aria-hidden="true"></span></button></td>
        </tr>

        <tr ng-if="!vm.cart.items.length">
            <td colspan="5" class="text-center">
                There are no items in cart <a href="~/">Go to Shopping</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

@section head {
    <script teker-append-version="true" src="~/lib/angular/angular.js"></script>
    <script teker-append-version="true" src="~/modules/shoppingcart/shoppingcart-list.js"></script>
    <script teker-append-version="true" src="~/modules/shoppingcart/shoppingcart-service.js"></script>
}