<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!vm.isEditMode">Create Product</h2>
        <h2 ng-if="vm.isEditMode">Edit Product {{vm.product.name}}</h2>
    </div>
    <div class="panel-body">
        <form name="productForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <uib-tabset>
                <uib-tab index="0" heading="General Information">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Name</label>
                        <div class="col-sm-10">
                            <input name="name" ng-model="vm.product.name" ng-change="vm.updateSlug()" required class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Slug</label>
                        <div class="col-sm-10">
                            <input name="slug" ng-model="vm.product.slug" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Brand</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="vm.product.brandId" ng-options="brand.id as brand.name for brand in vm.brands"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Short Description</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.shortDescUpload(files)" editor="vm.shortDescEditor" ng-model="vm.product.shortDescription"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.descUpload(files)" editor="vm.descEditor" ng-model="vm.product.description"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Specification</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.specUpload(files)" editor="vm.specEditor" ng-model="vm.product.specification"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <div class="input-number">
                                <input id="productPrice" type="text" decimal maxlength="10" name="price" ng-model="vm.product.price" required class="form-control"
                                />
                                <label for="productPrice" class="form-control">{{vm.product.price | number}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Old Price</label>
                        <div class="col-sm-10">
                            <div class="input-number">
                                <input id="productOldPrice" type="text" decimal maxlength="10" name="oldPrice" ng-model="vm.product.oldPrice" class="form-control"
                                />
                                <label class="form-control" for="productOldPrice">{{vm.product.oldPrice | number}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Special Price</label>
                        <div class="col-sm-10">
                            <div class="input-number">
                                <input id="productSpecialPrice" type="text" decimal maxlength="10" name="specialPrice" ng-model="vm.product.specialPrice"
                                    class="form-control" />
                                <label class="form-control" for="productSpecialPrice">{{vm.product.specialPrice | number}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Special Price Start</label>
                        <div class="col-sm-10">
                            <p class="input-group simpl-datetime-picker">
                                <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="vm.product.specialPriceStart" is-open="vm.datePickerSpecialPriceStart.open"
                                    datepicker-options="vm.datePickerSpecialPriceStart.datepickerOptions" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'datePickerSpecialPriceStart')"><i
                                            class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Special Price End</label>
                        <div class="col-sm-10">
                            <p class="input-group simpl-datetime-picker">
                                <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="vm.product.specialPriceEnd" is-open="vm.datePickerSpecialPriceEnd.open"
                                    datepicker-options="vm.datePickerSpecialPriceEnd.datepickerOptions" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'datePickerSpecialPriceEnd')"><i
                                            class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Thumbnail</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.thumbnailImage" name="thumbnailImage" ngf-accept="'image/*'">
                            <img ngf-src="vm.thumbnailImage" ngf-resize="{width: 100, height: 100, quality: 0.9}">
                            <img ng-show="!vm.thumbnailImage && vm.product.thumbnailImageUrl" ng-src="{{vm.product.thumbnailImageUrl}}" style="width: 100px; height: 100px"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Images</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.productImages" ngf-multiple="true" name="productImages" ngf-accept="'image/*'">
                            <span class="product-image-edit" ng-repeat="image in vm.product.productImages">
                                <img ng-src="{{image.mediaUrl}}" style="width: 100px; height: 100px" />
                                <button type="button" ng-click="vm.removeImage(image)" class="btn btn-link" aria-label="Remove">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </span>
                            <span class="product-image-edit" ng-repeat="image in vm.productImages">
                                <img ngf-src="image" ngf-resize="{width: 100, height: 100, quality: 0.9}">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product documents</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.productDocuments" ngf-multiple="true" name="productDocuments"
                                ngf-accept="'.pdf,.doc'">
                            <span class="product-file-edit" ng-repeat="doc in vm.product.productDocuments">
                                <a target="_blank" href="{{doc.mediaUrl}}">{{doc.caption}}</a>
                                <button type="button" ng-click="vm.removeDocument(doc)" class="btn btn-link" aria-label="Remove">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </span>
                            <span class="product-file-edit" ng-repeat="file in vm.productDocuments">
                                <span>{{file.name}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.product.isPublished">Is Published
                                </label>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Category & Size Mapping">
                    <md-content class="md-padding">
                        <md-input-container class="md-block">
                            <md-radio-group ng-model="vm.product.categoryId" ng-change="vm.catUpdate(vm.product.categoryId)">
                                <md-radio-button ng-repeat="category in vm.categories" ng-value="category.id"  aria-label="{{category.name}}">
                                    {{category.name}}
                                </md-radio-button>
                            </md-radio-group>

                            <!-- <div ng-repeat="category in vm.categories">
                                <md-checkbox ng-checked="vm.product.categoryId == category.id" ng-click="vm.toggleCategories(category.id)">
                                    {{ category.name }}
                                </md-checkbox>
                            </div> -->
                        </md-input-container>

                        <md-input-container>
                            <md-select ng-model="vm.selectedWidth" ng-change="vm.selectedWidthChange()">
                                <md-option ng-value="f" ng-repeat="f in vm.widths">{{ f.size }}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <md-select ng-model="vm.selectedProfile" ng-change="vm.selectedProfileChange()">
                                <md-option ng-value="f" ng-repeat="f in vm.profiles">{{ f.size }}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <md-select ng-model="vm.selectedRim">
                                <md-option ng-value="opt.id" ng-repeat="opt in vm.rims">{{ opt.size }}</md-option>
                            </md-select>
                        </md-input-container>
                    </md-content>
                </uib-tab>
                <uib-tab index="6" heading="SEO">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Meta Title</label>
                        <div class="col-sm-10">
                            <input name="metaTitle" ng-model="vm.product.metaTitle" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Meta Keywords</label>
                        <div class="col-sm-10">
                            <textarea name="metaKeywords" ng-model="vm.product.metaKeywords" class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Meta Description</label>
                        <div class="col-sm-10">
                            <textarea name="metaDescription" ng-model="vm.product.metaDescription" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-disabled="productForm.$invalid" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span>Save</button>
                    <button ui-sref="product" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>