@using System.Globalization;

@{ ViewData["widthRequestUrl"] = "/search/select"; }

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <style>
        .container {
            background: red;
        }
    </style>
    
    @RenderSection("head", false);
</head>

<body>
<div>
    <partial name="_LoginPartial" />
</div>
<div>
    @await Component.IvokeAsync("CartBadge");
</div>
    <div class="container">
        @RenderBody()
    </div>

    <script type="text/javascript" src="lib/somejs/mainsearch.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>