@using TekeriumCommerce.Module.Core.Models
@using TekeriumCommerce.Module.Core.Extensions

@inject IWorkContext WorkContext
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Core" asp-controller="Manage" asp-action="Index" title="Manage">@String.Format("Hello {0}", (await WorkContext.GetCurrentUser()).FullName)</a>
    </li>
    @if (User.IsInRole("admin"))
     {
         <li>
             <a asp-area="Core" asp-controller="HomeAdmin" asp-action="Index">Dashboard</a>
         </li>
     }
    <li>
        <form asp-area="Core" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
            <button type="submit">Log off</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Core" asp-controller="Account" asp-action="Login">Log in</a>
    </li>
}