/* Set widths on the form inputs since otherwise they're 100% wide */

body {
    background-color: lightgrey;
}

.start {
    background-image: url("/assets/images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.start .overlay {
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.subheader {
    height: 50px;
}

.subheader .language ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.subheader .language ul li:first-child img {
    margin: 0;
}

.subheader .language ul li:last-child:after {
    content: "";
}

.subheader .language ul li img {
    margin: 0 5px;
    height: 15px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.subheader .language ul li .active {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.subheader .language ul li:after {
    content: "|";
    color: #e2e2e2;
    opacity: 0.5;
}

.subheader .phone {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.header {
    background-color: white;
    padding: 0 15px;
    border-radius: 5px;
}

.menu {
    height: 82px;
}

.menu ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    margin: 0;
}

.menu ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.menu ul a li {
    margin: 0 15px;
}

.menu ul a:hover {
    background-color: #e2e2e2;
    border-bottom: 1px solid black;
    margin-top: 1px;
}

.basket {
    font-size: 1.5em;
}

.basket a {
    color: black;
    text-decoration: none;
}

.finder {
    margin: 50px 0;
}

.finder .search {
    background-color: white;
    border-radius: 0 5px 5px 5px;
    padding: 30px;
}

.finder .search ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.finder .search ul .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.finder .search ul li {
    display: none;
    width: 100%;
    top: 0;
    left: 0;
}

.finder .types ul {
    list-style: none;
}

.finder .types ul .active {
    background-color: white;
    margin-left: 0px;
    border-radius: 5px 0 0 5px !important;
}

.finder .types ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #e2e2e2;
    padding: 30px;
    margin-left: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5em;
}

.finder .types ul li:hover {
    margin-left: 0px;
    border-radius: 5px 0 0 5px !important;
}

.finder .types ul li:first-child {
    border-radius: 5px 0 0 0;
}

.finder .types ul li:last-child {
    border-radius: 0 0 0 5px;
}

.partners {
    height: 150px;
    background-color: white;
}

footer {
    background-color: #282828;
    color: white;
}

footer .footer {
    margin-bottom: 20px;
}

footer .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 10px 0;
}

footer .footer ul a {
    text-decoration: none;
    color: white;
}

footer .footer ul a li {
    padding: 5px 0;
}

footer .copyright {
    height: 50px;
    border-top: 1px solid white;
}

.mobile {
    display: block;
    background-color: white;
}

.mobile ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0 15px;
}

.mobile ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
}

.mobile ul a:first-child {
    margin-top: 0;
}

.mobile ul a:last-child {
    border-bottom: 0;
}

.mobile ul a li {
    margin: 15px;
}

.mobileLang {
    margin-top: 15px;
}

.mobileLang div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobileLang img {
    height: 30px;
    border: 1px solid lightgray;
}

@media (max-width: 767.98px) {
    .header {
        border-radius: 0;
    }

    .header .logo img {
        height: 40px;
    }

    .finder .search {
        border-radius: 0;
        padding: 20px;
    }

    .finder .types ul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background-color: white;
        margin-bottom: 0;
    }

    .finder .types ul .active {
        background-color: white;
        color: black;
    }

    .finder .types ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: white;
        color: lightgray;
        padding: 20px;
        margin-left: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 1.5em;
    }

    .finder .types ul li:hover {
        border: 0;
        border-radius: 0 !important;
    }

    .finder .types ul li:first-child {
        border-radius: 0;
    }

    .finder .types ul li:last-child {
        border-radius: 0;
    }
}











/* product list*/
.product-list a:hover {
    text-decoration: none;
}

.product-list .product-price {
    color: red;
}

.product-list .product-ratings > li {
    margin-left: -2px;
    margin-right: 0;
    color: #777;
    font-size: 90%;
}

.product-list .product-price-saving {
    background-color: #ff9601;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: -2px;
    padding: 4px;
    vertical-align: middle;
}

.product-list .product-price-regular {
    text-decoration: line-through;
    font-weight: 100;
    color: #4c4849;
    font-size: 11px;
}

.product-list .card:hover {
    border-color: #337ab7;
}

.product-list .buttons {
    padding: 9px;
}

.product-list-filters h3 {
    margin-top: 27px;
}

.product-list .btn {
    background: #ddd;
    font-size: 18px;
    padding: 5px 10px;
    border: 0;
    color: #18ba9b;
    border-radius: 0;
    margin: -1px;
}

.product-list .btn:hover {
    background: #eee;
}

.product-list .btn-add-cart-style {
    background: #f0f0f0;
    padding: 8px 0px;
    font-size: 14px;
    color: #777;
    text-align: center;
    width: 100%
}

.product-list .card:hover .btn-add-cart-style {
    background: #2cd5b6;
    color: #fff;
}

#accordion-brand ul, #accordion-category ul {
    padding-left: 30px;
}

#priceSlider {
    margin: 17px
}

#minPrice {
    width: 80px;
    float: left;
}

#maxPrice {
    width: 80px;
    float: right;
    text-align: right;
}

.price-actions {
    float: right;
    margin-top: 15px;
}

.category-result h2 {
    float: left;
    font-size: 30px;
    margin-right: 20px;
}

.category-result .badge-results {
    top: 10px;
    color: #fff;
    font-size: 12px;
    padding: 3px 8px;
    position: relative;
    background: #c9253c;
}

.product-list-display-options {
    margin-top: 14px;
}

.product-list-display-options label {
    font-weight: normal;
}

.product-list-display-options .show-option {
    float: right;
    padding-right: 0;
    margin-left: 3px;
}

.product-list-display-options .show-option i {
    color: #fff;
    width: 37px;
    height: 37px;
    padding: 6px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    background: #18ba9b;
    display: inline-block;
}

.product-list-display-options .sort-by {
    float: right;
}

.product-list-display-options .pagination-option {
    float: right;
}

/* cart list*/
.cart-list .product-image {
    width: 120px;
}

.cart-list .product-image img {
    width: 120px;
}

.cart-list .quantity-button {
    color: #555;
    width: 35px;
    height: 30px;
    padding: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background: #eee;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
}

.cart-list .quantity-field {
    width: 35px;
    height: 30px;
    outline: none;
    margin: 0 -4px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #eee;
}

.cart-list .cart-items > thead > tr > th {
    border-bottom: none;
    text-transform: uppercase;
    color: #687074;
}

.cart-list .cart-items > tbody > tr > td {
    border-top: none;
}

.cart-list .order-summary h4 {
    text-transform: uppercase;
    color: #687074;
    padding-bottom: 20px;
}

.cart-list .order-summary .btn {
    background: #18ba9b;
    padding: 8px 43px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
}

.coupon-form {
    margin-top: 20px;
}

.coupon-form .form-group input {
    width: 197px;
}

/* Checkout*/
.btn-order {
    background: #18ba9b;
    padding: 8px 43px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    width: 200px;
}

.btn-order:hover {
    color: #fff;
    background: #2cd5b6;
}

.order-history img {
    width: 60px;
}

.list-inline {
    margin-bottom: 6px;
    margin-top: 6px;
}

.list-inline li {
    height: 22px;
    line-height: 22px;
}

.list-inline a {
    text-decoration: none;
}

#logoutForm {
    display: inline-flex;
    line-height: 22px;
}

#logoutForm button {
    text-decoration: none;
}

.rating-container .caption {
    font-size: 70%;
    margin-top: -2px;
}

.rating-container .filled-stars {
    -webkit-text-stroke: 0;
    text-shadow: none;
    color: #18ba9b;
}

.rating-xs {
    font-size: 1.2em;
}

.product-comparison-result-remove {
    padding-top: 10px;
}

/*Contact form*/
.input-contact {
    max-width: 100%;
}

#googleMap {
    height: 334px;
    margin-top: 75px;
}

.space-bar-widget-icon {
    font-size: 140px;
}

.payment-method {
    height: 100px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 17px 5px 5px;
    margin-bottom: 25px;
    text-align: center;
}

.quick-view {
    height: 25px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    text-align: center;
}

.modal-lg {
    min-width: 850px;
    max-width: 1200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-padding {
    padding: 10px 10px 10px 10px;
}
